body {
	background-image: url("../images/cheapDiagonalFabric_background.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
	padding-top: 70px;
	margin-bottom: 80px;
}

.navbar {
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.icon-bar {
	background-color: #4aaaa5;
}

.teal {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

.teal:hover {
	color: #ffffff;
	opacity: .5;
}

.section {
	background-color: #ffffff;
	border: 2px solid #cccccc;
}

.navbar-fixed-bottom {
	background-color: #777777;
	color: #ffffff;
	border-top: 3px solid #4aaaa5;
}

.bottomText {
	padding: 15px;
}

h1 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 15px;
}

hr {
	border: 1px solid #cccccc;
	margin-left: 10px;
	margin-right: 10px;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 15px;
}

.pull-left {
	margin-bottom: 10px;
	margin-left: -10px;
}

.button {
	color: #777777;
}

.button:active {
  background-color: #777777;
  color: #4aaaa5;
  border: 2px solid #4aaaa5;
  opacity: .5;
}	

.button:hover {
    color: #4aaaa5;
    opacity: .5;
}	

.icon {
	margin: 10px 5px 10px 5px;
}

.icon:active {
  background-color: lightgrey;
  border: 2px solid #4aaaa5;
  opacity: .5;
}	

.icon:hover {
	opacity: .75;
}	

.portfolioItems {
	overflow: auto;
	border: none;
}

.portfolioItems:active {
  background-color: lightgrey;
  opacity: .5;
}	

.portfolioItems:hover {
	opacity: .75;
}	

.textOverlay {
	position: absolute;
	background-color: #4aaaa5;
	bottom: 30px;
	right: 19px;
	left: 19px;
	padding: 20px;
	color: white;
	text-align: center;
}

form {
	padding-bottom: 20px;
}

input[type=text], select, textarea {
    border: 1px solid #dddddd; 
    outline: none;
}

input[type=text]:focus {
    border: 3px solid darkgrey;
    outline: none;
}

textarea[type=text-long] {
    border: 1px solid #dddddd; 
    outline: none;
}

textarea[type=text-long]:focus {
    border: 3px solid darkgrey;
    outline: none;
}

button[type=submit] {

    cursor: pointer;
    outline: none;
}

button[type=submit]:hover {
    background-color: darkgrey;
}

button[type=submit]:active {
    background-color: #4aaaa5;
    opacity: .5;
}


@media screen and (max-width: 780px){
	.navbar-fixed-bottom {
		height: 30px;
	}

	.bottomText {
		padding: 5px;
	}
}